
<section>
  <h1>Hello {{title}}</h1>
  <div class="example-button-row">
    <button routerLink="home" type="button" class="btn btn-primary" routerLinkActive="class1">Home</button>
    <button routerLink="products" type="button" class="btn btn-primary" routerLinkActive="class1">Products</button>
    <button routerLink="newproduct" type="button" class="btn btn-primary" routerLinkActive="class1">New Product</button>
  </div>
</section>
<mat-divider ></mat-divider>

<div class="mt-5">
<router-outlet ></router-outlet>
</div>
