<div class="search-container">
<input type="text" [(ngModel)]="searchTerm" (ngModelChange)="getProducts()" placeholder="Search by name">

</div>
<table class="table"> 
  <thead>
  <tr>
    <th>Name</th> <th>Price</th> <th>Quantity</th> <th>current Price</th> <th>bought Price</th>  <th>Market Value</th>
    <th>Pnl</th> <th>Eligible Status</th> <th>type</th> <th>Date</th> <th>Remove</th> <th>Edit data</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products 
  | paginate : { itemsPerPage: 10, currentPage: currentPage } ">  
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.qty}}</td>
    <td>{{product.currentPrice}}</td>
    <td>{{product.boughtPrice}}</td>
    <td>{{product.currentPrice*product.qty}}</td>
    <td [ngClass]="{'positive': product.pnl > 0, 'negative': product.pnl < 0}">{{ product.pnl }}</td>
    <td>
      <button [ngClass]="{'btn-warning': !product.eligible, 'btn-primary': product.eligible}" 
        (click)="changeEligProduct(product)" class="btn">
  <i [class]="product.eligible?'bi bi-check-circle':'bi bi-file-x'"></i>
</button>     
    </td>
    <td>{{product.type}}</td>
    <td>{{product.date}}</td>    
       
    
    <td>
      <button (click)="deleteProduct(product)" class="btn btn-danger">
        <i class="bi bi-trash"></i>
      </button>
    </td>
    <td>
      <button (click)="editProduct(product)" class="btn btn-success">
        <i class="bi bi-pencil"></i>
      </button>
    </td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">Total Value</td>
      <td>{{this.calculatePortfolioValue() | number:'1.2-2'}}</td>
    </tr>
  </tfoot>

</table>

<div class="pagination">
  <pagination-controls (pageChange)="currentPage = $event" ></pagination-controls>
</div>




