<div class="card-container">

  <mat-card>
    <mat-card-content>Simple card</mat-card-content>
    <ul class="nav justify-content-center  ">
        <li class="nav-item">
            <label class="label label-success">total market value: {{appStateservice.appState.totalValue}}</label>
        </li>
        <li class="nav-item">
            <label class="label label-success">total market value: {{appStateservice.appState.totalValue}}</label>
        </li>
        <li class="nav-item">
            <label class="label label-success">total market value: {{appStateservice.appState.totalValue}}</label>
        </li>        
    </ul>
    
   
  </mat-card>

<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Home Component</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>This card has divider and indeterminate progress as footer</p>
    <img  src="assets/images/arch2.jpg" >
    <p>{{ longText }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
</div>


